/*
body{
    margin: 0px;  
    height: 100vh;
    display: flex;
    place-items: center;
    margin-left: 30vh;
  }
  */

  #imgstack-body{
    display: block;
  }
  
  .card-groups,
  .card-group,
  .card {
    aspect-ratio: 6 / 7;
  }
  
  .card-groups,
  .card-group,
  .big-card {  
    width: 50vmin;
  }
  
  .card-group {
    position: absolute;
    transition: transform 200ms ease;
  }
  
  .card-group[data-status="unknown"] {
    transform: scale(0);
    transition: none;
  }
  
  .card-group[data-status="active"] {
    transition-delay: 300ms;
  }
  
  .card-group[data-status="after"] {
    transform: translateX(50%) scale(0);
  }
  
  .card-group[data-status="before"] {
    transform: translateX(-50%) scale(0);
  }
  
  .card-group[data-status="becoming-active-from-after"] {
    transform: translateX(50%) scale(0);
    transition: none;
  }
  
  .card-group[data-status="becoming-active-from-before"] {
    transform: translateX(-50%) scale(0);
    transition: none;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.05);
    position: absolute;
    transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
    
    background-position: center;
    background-size: cover;
  }
  
  .big-card {
    border-radius: 1vmin;
  }
  
  .big-card:nth-child(2) {
    background-image: url("https://images.unsplash.com/photo-1565686958447-5aacd8a1be91?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MjV8ODU4Njc1Mnx8ZW58MHx8fHx8&auto=format&fit=crop&w=600&q=60");
    transform: translateX(-10%) rotate(-10deg);
  }
  
  .big-card:nth-child(4) {
    background-image: url("https://images.unsplash.com/photo-1603145659528-798902c40dc2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8OHw4NTg2NzUyfHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=1000&q=60");
    transform: rotate(5deg);
  }
  
  .big-card:nth-child(6) {
    background-image: url("https://images.unsplash.com/photo-1598228723793-52759bba239c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXwyNTU2NjM0fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=600&q=60");
    transform: translateX(-6%) rotate(-3deg);
  }
  
  .big-card:nth-child(8) {
    background-image: url("https://images.unsplash.com/photo-1594010017798-de9448e9b198?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8NHwyNTU2NjM0fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=600&q=60");
    transform: translate(10%, 3%) rotate(5deg);
  }
  
  .card-group:hover > .card {  
    box-shadow: -2vmin 2vmin 3vmin rgba(0, 0, 0, 0.4);
  }
  
  .card-group:hover > .big-card:nth-child(2) {
    transform: translate(-55%, 16%) rotate(-24deg);
  }
  
  .card-group:hover > .big-card:nth-child(4) {
    transform: translate(-25%, 8%) rotate(-8deg);
  }
  
  .card-group:hover > .big-card:nth-child(6) {
    transform: translate(20%, 8%) rotate(2deg);
  }
  
  .card-group:hover > .big-card:nth-child(8) {
    transform: translate(45%, 16%) rotate(24deg);
  }