
.srch-txt{
    margin-top: 30vh;
    width: fit-content;
}
.searchBar{
    margin-top: 50px;
    scale: 130%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 10px 10px;
    background-color: #f5dede;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    width: 100%;
    color: black;
    height: 60px;
    border-radius: 1rem;
    position: relative;
    max-width: 500px;
    float: right;
}
.search{
    font-size: large;
    border: none;
    background-color: #f5dede;
    height: 60px;
    color: black;
    width: 30vw;
    border-radius: 1rem;

}
.search:focus{
    outline: none;
}
#searchIcon{
    width: 8vh;
    display: flex;
    scale: 150%;
    padding-right: 5px;
    justify-content: center;
    background: transparent;
    color: red;
}
