.NavbarItem{
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 10px 10px;
    background: #1d3557;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    width: 100vw;
    height: 90px;
    border-radius: 0px;
    position: fixed;
    /* top: 20px; */
    left: 50%;
    z-index: 10000;
    transform: translate(-50%);
}

.logo{
    color: white;
    justify-self: start;
    cursor: pointer;
    white-space: nowrap;
}

.fa-house{
    scale: 130%;
    margin-left: .5rem;
    margin-right: .4rem;
    font-size: 1.6rem;
    align-content: center;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 10px;
    list-style: none;
    height: 40px;
    align-items: center;
    text-align: center;
    justify-content: end;
    padding: 5px;
}

.nav-links{
    text-decoration: none;
    color: white;
    padding: 1.7rem 1rem;
    white-space: nowrap;
    height: 20px;
}

.nav-links i{
    padding-right: 10px;
    height: 100%;
}

.nav-links:hover{
    background-color: #fff;
    color:#222;
    border-radius: 20px;
    transition: all .1s ease-in-out;
}

.fa-bars{
    color: #fff;
    visibility: hidden;
}

.nav-links-mobile{
    text-decoration: none;
    color: white;
    padding: 1.7rem 1rem;
    white-space: nowrap;
}

.nav-links-mobile:hover{
    background-color: #fff;
    color:#FCA311;
    border-radius: 4px;
    transition: all .1s ease-in-out;
}

.nav-links::after{
    color: #FCA311;
}

/* @media only screen and (max-width: 500px) {
    #navRes {
      display: none;
    }
    #itemNav {
      display: none;
    }
  }
 
  #navFix {
    position: sticky;
   top: 0;
   z-index: 20;
   width: 100%;
  
  }
  @media(min-width:801px){
    #hamburger{
      display: none;
    }
  }
  @media (max-width:800px) {
    #resumeBtn{
      display: none;
    }
  }
   */